*.dex

bin/
gen/
infer-out/
captures/
assets

local.properties
gradlew
gradlew.bat
gradle.properties
build.gradle
settings.gradle
gradle

Thumbs.db

.DS_Store

.idea
/build
.gradle

/out
*/build
*/production
*.iws
*.ipr
*~
*.swp
*.iml

app